@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    overflow: hidden; /* Prevent page scrolling */
    touch-action: manipulation;
}


* {
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer Ð¸ Edge */
}




body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(255, 255, 255);

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 2%;

}


.card_egg {
    background: rgba(25, 25, 25, 0.7);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 4%

}


.egg1 {
    height: 45vh;
    margin-bottom: 15%;

}

.music_button {
    background: rgba(25, 25, 25, 0.7);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 4%



}



p {
    font-size: 130%;
    text-align: center;

}




.loader-container {
    text-align: center;
    position: fixed;
    z-index: 9999;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    

    background-size: cover;
    background-position: center;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 1;


    color: black;
}





.preloader-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}


.content-visible {
    opacity: 1;
}






.loader {
    background: rgba(25, 25, 25, 0.7);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    width: 100px;
    height: 100px;
    animation: circle 2s linear infinite;
    animation-fill-mode: backwards;
    animation-delay: .5s;
    border-radius: 25%;

    color: white;

    padding: 1%;


}


#count {
    background: rgba(25, 25, 25, 0.7);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;

    padding: 1%;

}




@keyframes circle {
  0% {
    transform: scale(1.5);
  }



  10% {
    transform: scale(1.6);
    
  }


  20%{
    transform: scale(1.7);

}



  30%{
    transform: scale(1.8);
  
}


  40%{
    transform: scale(1.9);
  
}


  50% {
    transform: scale(2);
    
  }


  60%{
    transform: scale(1.9);
  
}



  70%{
    transform: scale(1.8);
  
}


  80%{
    transform: scale(1.7);
  
}

  90% {
    transform: scale(1.6);
    
  }


  100%{
    transform: scale(1.5);
  
}


}